.home-container {
  display: flex;
  align-items: center;
  min-height: 1000px;
  flex-direction: column;
}

h3 {
  font-size: 60px;
  margin: 50px;
}

.warehouse-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
