.home-container {
  display: flex;
  align-items: center;
  min-height: 1000px;
  flex-direction: column;
}

h3 {
  font-size: 60px;
  margin: 50px;
}

.warehouse-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.add-warehouse-form {
  display: flex;
  flex-direction: column;
}
.add-warehouse-form > input {
  margin: 10px 0px;
}

.add-warehouse-form-btn-container {
  margin: 5px;
}

.add-warehouse-form-btn-container > button {
  margin: 5px;
  padding: 5px;
}
