.navbar {
  background-color: var(--accent-color-1);
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5vh;
}

.logo {
  height: 40px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  margin: 50px;
}

.nav-list > li {
  margin: 100px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.nav-link:hover {
  text-decoration: none;
}

.home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 10px;
  border-radius: 8px;
  font-size: 17px;
  transition-property: font-size, box-shadow;
  transition: 0.2s ease;
  backface-visibility: hidden;
  border: 1px solid var(--accent-color-1);
}

.home-btn:hover {
  -webkit-font-smoothing: subpixel-antialiased;
  opacity: 1;
}
.home-btn:active {
  transition: 0.2s;
  transform: translateY(1px);
  box-shadow: 2px 1px 5px var(--accent-color-1);
}
