:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #333333;

  /* Secondary Colors */
  --secondary-color-1: #0a2342;
  --secondary-color-2: #3c1642;
  --secondary-color-3: #003b46;
  --secondary-color-4: #565656;

  /* Accents/Highlights */
  --accent-color-1: #007ea7;
  --accent-color-2: #00b2a9;
  --accent-color-3: #c62828;

  /* Neutral Colors */
  --neutral-color-1: #d3d3d3;
  --neutral-color-2: #ffffff;
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  background-color: var(--primary-color);
  width: 100%;
  min-height: 100vh;
  color: var(--neutral-color-2);
  overflow-x: hidden;
  font-size: 20px;
}

button {
  border: none;
  outline: none;
  border-radius: 5px;
  transition: all .2s ease-in;
}

button:hover {
  transform: translateY(-3px);
}

button:active {
  transform: translateY(3px);
}

#root {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: var(--neutral-color-1);
}

input {
  border: 1px solid white; */
  outline: none;
  background: var(--secondary-color-4);
  padding: 5px;
  border-radius: 5px;
  height: 25px;
  opacity: .8;
}

input:focus {
  outline: 2px var(--accent-color-1);
  border: none;
  opacity: 1;

  box-shadow: 0 0 3px 2px var(--accent-color-1);
}
